.all-users-table {
      width: calc(100% - 45px);
      margin-top: 55px;
      margin-left: auto;
      z-index: 0;
}

#block-user-btn {
      border: 1px solid #2a3035;
      height: 30px;
      border-radius: 5px;
      background-color: white;
      transition: ease-in-out 0.15s;
}

#delete-user-btn {
      border: 1px solid #2a3035;
      height: 30px;
      margin-left: 5px;
      border-radius: 5px;
      background-color: white;
      transition: ease-in-out 0.15s;
}

#block-user-btn:hover {
      background-color: #2a3035;
      color: white;
}

#delete-user-btn:hover {
      background-color: #2a3035;
      color: white;
}

#block-user-btn:active {
      transform: scale(0.95);
}

#delete-user-btn:active {
      transform: scale(0.95);
}